body {

}
#header{
    width: 100%;
    margin: 0px;
    display:block;
}
.logo {
    margin: 0px;
    width: 28%;
    max-width: 28%;
    height: 60px;
    display: inline-block;
    border: 2px solid black;
    background-color: black;
}
.navbar {
    margin: 0px;
    width: 70%;
    max-width: 70%;
    height: 60px;
    display: inline-block;
    float: right;
    border: 2px solid black;
    background-color: black;
}
